body{
	font-family: 'Playfair Display', serif;
}

h1{
	text-align: center;
}

.sidebar {
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 10;
	left: 0;
	background-color: Maroon;
	overflow-x: hidden; 
	padding-top: 30px;
}

.sidebar a{
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	font-size: 25px;
	color: Cornsilk;
	display: block;
	text-align: center;
}

.main{
	margin-left: 160px; /* Same as the width of the sidebar */
}